<%- include('../partials/head') %>
  <body>
  <%- include('../partials/header') %>

    <main>
      <div class="top-section">
        <section class="top-promotion">
          <article class="top-promotion-img">
            <img src="/images/login4.jpg" alt="Foto para login" />
          </article>
        </section>
      </div>

      <div class="small-container single-product">
        <div class="row">
          <div class="col-2">
            <img src="/images/tall/1.jpg" width="100%" alt="" id="ProductImg" />
            <div class="small-img-row">
              <div class="small-img-col">
                <img
                  src="/images/tall/1.jpg"
                  alt=""
                  width="100%"
                  class="small-img"
                />
              </div>
              <div class="small-img-col">
                <img
                  src="/images/tall/2.jpg"
                  alt=""
                  width="100%"
                  class="small-img"
                />
              </div>
              <div class="small-img-col">
                <img
                  src="/images/tall/3.jpg"
                  alt=""
                  width="100%"
                  class="small-img"
                />
              </div>
              <div class="small-img-col">
                <img
                  src="/images/tall/4.jpg"
                  alt=""
                  width="100%"
                  class="small-img"
                />
              </div>
            </div>
          </div>
          <div class="col-2">
            <p>Home / T-Shirts</p>
            <h1>T-Shirts by Enjoy Dude</h1>
            <h4>$29.99</h4>
            <select name="Sizes" id="">
              <option value="">Select Size</option>
              <option value="">XXL</option>
              <option value="">XL</option>
              <option value="">LARGE</option>
              <option value="">MEDIUM</option>
              <option value="">SMALL</option>
            </select>
            <input type="number" value="1" />
            <a href="" class="btn">Add to Cart</a>
            <h3>Product Details<i class="fa fa-indent"></i></h3>
            <br />
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
              laboriosam voluptate commodi aut rerum quod ducimus cupiditate,
              quos temporibus consequuntur cum aspernatur fugiat animi pariatur,
              optio cumque delectus laborum quasi.
            </p>
          </div>
        </div>
      </div>

      <script>
        let ProductImg = document.getElementById("ProductImg");
        let SmallImg = document.getElementsByClassName("small-img");

        SmallImg[0].onclick = function () {
          ProductImg.src = SmallImg[0].src;
        };
        SmallImg[1].onclick = function () {
          ProductImg.src = SmallImg[1].src;
        };
        SmallImg[2].onclick = function () {
          ProductImg.src = SmallImg[2].src;
        };
        SmallImg[3].onclick = function () {
          ProductImg.src = SmallImg[3].src;
        };
      </script>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
