<%- include('../partials/head') %>
  <body>
  <%- include('../partials/header') %>

    <main>
      <div class="top-section">
        <section class="top-promotion">
          <article class="top-promotion-img">
            <img src="/images/panoramic/login4.jpg" alt="Foto para login" />
          </article>
        </section>
      </div>
      <div class="content">
        <h1 class="logo">Edición de Producto</h1>
        <div class="contact-wrapper">
          <div class="contact-form">
            <form action="#?_method=PUT" method="POST">
              <p>
                <label for="name">Nombre del Producto*</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  required
                  pattern="[a-zA-Z0-9]+"
                  placeholder="Jean Azul Marino"
                />
              </p>
              <p>
                <label for="description">Descripción</label>
                <input
                  type="text" name="description"
                  id="description" pattern="[a-zA-Z0-9]+"
                  placeholder="Jean azul oscuro con calce Slim elastizado y un lavado localizado con aspecto desgastado"
                />
              </p>
              <p>
                <label for="imagen">Ingrese una o más imagenes</label>
                <input type="file" name="image" multiple/>
              </p>
              <p>
                <label for="category">Categoría</label>
                <select
                  name="category"
                  id="category"
                >
                  <option value="">Seleccionar Categoria</option>
                  <option value="">Categoría 1</option>
                  <option value="">Categoría 2</option>
                  <option value="">Categoría 3</option>
                  <option value="">Categoría 4</option>
                  <option value="">Categoría 5</option>
                  <option value="">Categoría 6</option>
                  <option value="">Categoría 7</option>
                </select>
              </p>
              <p>
                <label for="size">Talle</label>
                <select
                  name="talle"
                  id="size"
                >
                  <option>Seleccionar talle</option>
                  <option value="XS">XS</option>
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                  <option value="XL">XL</option>
                  <option value="XXL">XXL</option>
                </select>
              </p>
              <p class="block">
                <button type="submit">Editar Producto</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
