<%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>

    <main class="main-shop">
      <section class="shop-category">
        <h1>Categoría</h1>
        <article class="shop-category-picture">
          <div class="top-promotion-top">
            <img
              src="/images/panoramic/1080x560_snowboarding_trick_jump_2.jpg"
              alt="man jumping on snowboard"
            />
          </div>
        </article>

        <article class="shop-filter">
          <button>Filtrar por</button>
          <div class="shop-filter-select">
            <select name="shop-filter" id="filter">
              <option value="name">Nombre del producto</option>
              <option value="price">Precio</option>
              <option value="size">Talle</option>
            </select>
          </div>
        </article>
      </section>

      <section class="shop-view">
        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/975x1461_SkateFlamingo.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>
      </section>

      <section class="shop-more">
        <a href="#" class="shop-more-button">Mostrar más productos</a>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
