<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/styles.css" />
    <script
      src="https://kit.fontawesome.com/a20967f511.js"
      crossorigin="anonymous"
    ></script>
    <title>Havenboards</title>
  </head>
  <body>
    <header>
      <div class="header-account">
        <ul>
          <li>
            <a href="#"
              >NUESTRAS TIENDAS <i class="fas fa-map-marker-alt"></i
            ></a>
          </li>
          <li>
            <a href="/login"
              >INICIAR SESIÓN <i class="fas fa-sign-in-alt"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="top-header">
        <div class="logo">
          <a href="/">
            <img src="/images/Logo.png " alt="Logo de Havenboards" />
          </a>
        </div>
        <nav class="nav-desktop">
          <ul>
            <li><a href="/shop">Snowboarding</a></li>
            <li><a href="/shop">Skateboarding</a></li>
            <li><a href="/shop">Surf</a></li>
            <li><a href="/shop">Wakeboarding</a></li>
            <li><a href="/shop">Accesorios</a></li>
            <li><a href="/shop">Marcas</a></li>
          </ul>
        </nav>
        <form action="#" method="GET" class="form-search none">
          <div class="input-search">
            <input
              type="text"
              name="search"
              id="search"
              placeholder="¿Qué estás buscando?"
            />
            <a href="#"><i class="fa fa-search"></i></a>
          </div>
        </form>
        <div class="header-icons">
          <div class="header-icons-action">
            <a href="#" class="search-icon"><i class="fas fa-search"></i></a>
            <a href="#"><i class="far fa-heart"></i></a>
            <a href="cart"><i class="fas fa-shopping-cart"></i></a>
          </div>
          <div class="header-icon-menu">
            <a href="#"><i class="fas fa-bars"></i></a>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <nav>
          <ul>
            <li><a href="/shop">Snowboarding</a></li>
            <li><a href="/shop">Skateboarding</a></li>
            <li><a href="/shop">Surf</a></li>
            <li><a href="/shop">Wakeboarding</a></li>
            <li><a href="/shop">Accesorios</a></li>
            <li><a href="/shop">Marcas</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="main-cart">
      <h1>Su pedido</h1>
      <section class="cart-shopping">
        <!-- descripcion del carrito -->
        <article class="cart-product-description">
          <div class="cart-product-img-container">
            <img
              src="/images/tall/1200x1601_snow_berzerker.jpg"
              alt="producto en carrito"
            />
          </div>
          <div class="cart-product-container">
            <div class="cart-product-top">
              <div class="cart-product">
                <h4 class="cart-product-item">Nombre del producto</h4>
                <p class="cart-product-price">Precio</p>
              </div>
            </div>
            <div class="cart-product-bottom">
              <form action="#" method="POST">
                <input
                  type="number"
                  name="product-quantity"
                  id="product-quantity"
                  placeholder="Cantidad"
                />
              </form>
            </div>
          </div>
          <div class="cart-trash">
            <i class="fas fa-trash"></i>
          </div>
        </article>
        <!-- delivery -->
        <article class="cart-delivery-container">
          <div class="cart-delivery-pre">
            <h4><strong>Subtotal (sin envío): </strong></h4>
            <h4><strong>Precio: </strong></h4>
          </div>
          <div class="cart-delivery-price">
            <form action="#" method="POST">
              <label for="delivery">¿A dónde lo enviamos?</label>
              <select name="delivery" id="delivery">
                <option value="CABA">Ciudad Autónoma de Buenos Aires</option>
                <option value="Norte">GBA Norte</option>
                <option value="Sur">GBA Sur</option>
                <option value="Este">GBA Este</option>
                <option value="Oeste">GBA Oeste</option>
              </select>
              <button type="submit">Aplicar</button>
            </form>
          </div>
        </article>
        <!-- precio total -->
        <article class="cart-price">
          <h4>Total:</h4>
          <p>£100</p>
        </article>
      </section>
      <section class="cart-action-buttons">
        <!-- cart buttons -->
        <article class="cart-buttons">
          <button class="go-to payment">Iniciar compra</button>
          <button class="keep-buying">Seguir comprando</button>
        </article>
      </section>
    </main>

    <footer>
      <section class="logo-footer">
        <a href="/">
          <img src="/images/LogoWhite.png" alt="Logo de Havenboards" />
        </a>
      </section>
      <section class="main-footer">
        <nav class="nav-footer">
          <ul class="footer-info">
            <li><h3>INFORMACIÓN</h3></li>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Preguntas frecuentes</a></li>
            <li><a href="#">Nuestros locales</a></li>
            <li><a href="#">Envíos y devoluciones</a></li>
          </ul>

          <section class="social-footer-desktop">
            <a href="#"
              ><img src="/images/icons/facebook.png" alt="facebook icon" />
            </a>
            <a href="#"
              ><img src="/images/icons/twitter.png" alt="twitter icon"
            /></a>
            <a href="#"
              ><img src="/images/icons/youtube.png" alt="youtube icon"
            /></a>
            <a href="#"
              ><img src="/images/icons/instagram.png" alt="instagram icon"
            /></a>
          </section>

          <ul class="footer-menu">
            <li><h3>HAVENBOARDS</h3></li>
            <li><a href="/shop">Surf</a></li>
            <li><a href="/shop">Skateboards</a></li>
            <li><a href="/shop">Snowboards</a></li>
            <li><a href="/shop">Wakeboards</a></li>
            <li><a href="/shop">Sale</a></li>
          </ul>
        </nav>
      </section>
      <section class="social-footer">
        <a href="#"
          ><img src="/images/icons/facebook.png" alt="facebook icon" />
        </a>
        <a href="#"
          ><img src="/images/icons/twitter.png" alt="twitter icon"
        /></a>
        <a href="#"
          ><img src="/images/icons/youtube.png" alt="youtube icon"
        /></a>
        <a href="#"
          ><img src="/images/icons/instagram.png" alt="instagram icon"
        /></a>
      </section>
      <section class="subscribe-footer">
        <form action="/" method="POST">
          <label for="email"><p>SUSCRÍBETE</p></label>
          <input
            type="email"
            name="email"
            id="email"
            required
            placeholder="Ingresa tu email"
          />
          <button type="submit">Enviar</button>
        </form>
      </section>
      <section class="copyright">
        <p>Copyright &copy 2021 - Havenboards</p>
      </section>
    </footer>
  </body>
</html>
