<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/styles.css" />
    <script
      src="https://kit.fontawesome.com/a20967f511.js"
      crossorigin="anonymous"
    ></script>
    <title>Havenboards</title>
  </head>
  <body>
    <header>
      <div class="header-account">
        <ul>
          <li>
            <a href="#"
              >NUESTRAS TIENDAS <i class="fas fa-map-marker-alt"></i
            ></a>
          </li>
          <li>
            <a href="login"
              >INICIAR SESIÓN <i class="fas fa-sign-in-alt"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="top-header">
        <div class="logo">
          <a href="/">
            <img src="/images/LogoMakr-6fMzRV.png" alt="Logo de Havenboards" />
          </a>
        </div>
        <nav class="nav-desktop">
          <ul>
            <li><a href="#">Snowboarding</a></li>
            <li><a href="#">Skateboarding</a></li>
            <li><a href="#">Surf</a></li>
            <li><a href="#">Wakeboarding</a></li>
            <li><a href="#">Accesorios</a></li>
            <li><a href="#">Marcas</a></li>
          </ul>
        </nav>
        <form action="#" method="GET" class="form-search none">
          <div class="input-search">
            <input
              type="text"
              name="search"
              id="search"
              placeholder="¿Qué estás buscando?"
            />
            <a href="#"><i class="fa fa-search"></i></a>
          </div>
        </form>
        <div class="header-icons">
          <div class="header-icons-action">
            <a href="#" class="search-icon"><i class="fas fa-search"></i></a>
            <a href="#"><i class="far fa-heart"></i></a>
            <a href="cart"><i class="fas fa-shopping-cart"></i></a>
          </div>
          <div class="header-icon-menu">
            <a href="#"><i class="fas fa-bars"></i></a>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <nav>
          <ul>
            <li><a href="#">Snowboarding</a></li>
            <li><a href="#">Skateboarding</a></li>
            <li><a href="#">Surf</a></li>
            <li><a href="#">Wakeboarding</a></li>
            <li><a href="#">Accesorios</a></li>
            <li><a href="#">Marcas</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
