<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font open sans -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- font Montserrat -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <!-- font Heebo -->
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <script
      src="https://kit.fontawesome.com/a20967f511.js"
      crossorigin="anonymous"
    ></script>
    <title>Havenboards</title>
  </head>
  <body>
    <header>
      <div class="header-account">
        <ul>
          <li>
            <a href="#"
              >NUESTRAS TIENDAS <i class="fas fa-map-marker-alt"></i
            ></a>
          </li>
          <li>
            <a href="/login"
              >INICIAR SESIÓN <i class="fas fa-sign-in-alt"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="top-header">
        <div class="logo">
          <a href="/">
            <img src="/images/Logo.png " alt="Logo de Havenboards" />
          </a>
        </div>
        <nav class="nav-desktop">
          <ul>
            <li><a href="/shop">Snowboarding</a></li>
            <li><a href="/shop">Skateboarding</a></li>
            <li><a href="/shop">Surf</a></li>
            <li><a href="/shop">Wakeboarding</a></li>
            <li><a href="/shop">Accesorios</a></li>
            <li><a href="/shop">Marcas</a></li>
          </ul>
        </nav>
        <form action="#" method="GET" class="form-search none">
          <div class="input-search">
            <input
              type="text"
              name="search"
              id="search"
              placeholder="¿Qué estás buscando?"
            />
            <a href="#"><i class="fa fa-search"></i></a>
          </div>
        </form>
        <div class="header-icons">
          <div class="header-icons-action">
            <a href="#" class="search-icon"><i class="fas fa-search"></i></a>
            <a href="#"><i class="far fa-heart"></i></a>
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
          </div>
          <div class="header-icon-menu">
            <a href="#"><i class="fas fa-bars"></i></a>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <nav>
          <ul>
            <li><a href="/shop">Snowboarding</a></li>
            <li><a href="/shop">Skateboarding</a></li>
            <li><a href="/shop">Surf</a></li>
            <li><a href="/shop">Wakeboarding</a></li>
            <li><a href="/shop">Accesorios</a></li>
            <li><a href="/shop">Marcas</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="main-shop">
      <section class="shop-category">
        <h1>Categoría</h1>
        <article class="shop-category-picture">
          <div class="top-promotion-top">
            <img
              src="/images/panoramic/1080x560_snowboarding_trick_jump_2.jpg"
              alt="man jumping on snowboard"
            />
          </div>
        </article>

        <article class="shop-filter">
          <button>Filtrar por</button>
          <div class="shop-filter-select">
            <select name="shop-filter" id="filter">
              <option value="name">Nombre del producto</option>
              <option value="price">Precio</option>
              <option value="size">Talle</option>
            </select>
          </div>
        </article>
      </section>

      <section class="shop-view">
        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/975x1461_SkateFlamingo.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>

        <article class="shop-view-img article-box-shadow">
          <div class="shop-product-container">
            <div class="shop-img-container">
              <a href="/productDetail">
                <img
                  src="/images/tall/1200x1601_snow_berzerker.jpg"
                  alt="snowboard"
                />
              </a>
            </div>
            <div class="shop-product-info">
              <div class="shop-article-title">
                <a href="/productDetail">Título</a>
              </div>
              <div class="shop-article-price">
                <p>$1000</p>
              </div>
            </div>
          </div>
        </article>
      </section>

      <section class="shop-more">
        <a href="#" class="shop-more-button">Mostrar más productos</a>
      </section>
    </main>
    <footer>
      <section class="logo-footer">
        <a href="/">
          <img src="/images/LogoWhite.png" alt="Logo de Havenboards" />
        </a>
      </section>
      <section class="main-footer">
        <nav class="nav-footer">
          <ul class="footer-info">
            <li><h3>INFORMACIÓN</h3></li>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><a href="#">Preguntas frecuentes</a></li>
            <li><a href="#">Nuestros locales</a></li>
            <li><a href="#">Envíos y devoluciones</a></li>
          </ul>

          <section class="social-footer-desktop">
            <a href="#"
              ><img src="/images/icons/facebook.png" alt="facebook icon" />
            </a>
            <a href="#"
              ><img src="/images/icons/twitter.png" alt="twitter icon"
            /></a>
            <a href="#"
              ><img src="/images/icons/youtube.png" alt="youtube icon"
            /></a>
            <a href="#"
              ><img src="/images/icons/instagram.png" alt="instagram icon"
            /></a>
          </section>

          <ul class="footer-menu">
            <li><h3>HAVENBOARDS</h3></li>
            <li><a href="/shop">Surf</a></li>
            <li><a href="/shop">Skateboards</a></li>
            <li><a href="/shop">Snowboards</a></li>
            <li><a href="/shop">Wakeboards</a></li>
            <li><a href="/shop">Sale</a></li>
          </ul>
        </nav>
      </section>
      <section class="social-footer">
        <a href="#"
          ><img src="/images/icons/facebook.png" alt="facebook icon" />
        </a>
        <a href="#"
          ><img src="/images/icons/twitter.png" alt="twitter icon"
        /></a>
        <a href="#"
          ><img src="/images/icons/youtube.png" alt="youtube icon"
        /></a>
        <a href="#"
          ><img src="/images/icons/instagram.png" alt="instagram icon"
        /></a>
      </section>
      <section class="subscribe-footer">
        <form action="/" method="POST">
          <label for="email"><p>SUSCRÍBETE</p></label>
          <input
            type="email"
            name="email"
            id="email"
            required
            placeholder="Ingresa tu email"
          />
          <button type="submit">Enviar</button>
        </form>
      </section>
      <section class="copyright">
        <p>Copyright &copy 2021 - Havenboards</p>
      </section>
    </footer>
  </body>
</html>
