/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* -------------------------------------- General Rules ------------------------------------------ */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

/* quitamos margen y padding y aplicamos box-sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* quitamos por defecto todos los colores y líneas de los a */
a {
  text-decoration: none;
  color: inherit;
}

p.hello-user {
  color: #000;
}

/* box-shadow para articles con clase .box-shadow */
.article-box-shadow {
  transition: box-shadow 0.3s;
}
.article-box-shadow:hover {
  box-shadow: 0 0 8px #153351;
}

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* -----------------------------------  Página principal ----------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

/* le damos padding a la seccion principal */
main div.main-section {
  padding: 0 3%;
}
/* que todas las secciones ocupen todo el ancho */
main.main-index section {
  width: 100%;
}
/* hacemos el contenedror de la img relative para colocar componentes encima, y le damos altura máxima */
main section.top-promotion article.top-promotion-img {
  width: 100%;
  position: relative;
}
/* con esto se soluciona el mini gap que aparecía */
main section.top-promotion article.top-promotion-img div.top-promotion-top {
  display: flex;
}
/* centramos las imagenes */
main section.top-promotion article.top-promotion-img img,
main section.home-categories article.home-categories-img img {
  width: 100%;
  object-fit: cover;
}
main section.top-promotion article.top-promotion-img img {
  object-position: 50% 0%;
}
/* altura maxmin de la imagen de arriba */
main section.top-promotion article.top-promotion-img img {
  max-height: 480px;
  min-height: 200px;
}
/* será un elem flex cuando se vea para centrar a dentro. Se posiciona con absolute */
main section.top-promotion article.top-promotion-img div.main-offer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  letter-spacing: 0.1rem;
  font-weight: bold;
  top: 20%;
  left: 50%;
  width: 50%;
  min-width: 160px;
  max-width: 380px;
  transform: translateX(-50%);
  background-color: #bbc2c454;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 2px #fcd89d;
  transition: all 0.3s;
}
main section.top-promotion article.top-promotion-img div.main-offer:hover {
  background-color: #fcd89d;
  color: #000;
}
/* se le da padding a dicho a */
main section.top-promotion article.top-promotion-img div.main-offer a {
  padding: 12px 15px 10px;
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
  /* MIRARRRRRRRRRRRRR */
}

/* se posiciona el botón shop now en la foto principal */
main section.top-promotion article.top-promotion-img a.shop-now {
  position: absolute;
  bottom: 20%;
  left: 50%;
  max-width: 200px;
  transform: translateX(-50%);
  background-color: #4abbc7;
  transition: all 0.3s;
  text-align: center;
  box-shadow: 0px 0px 2px #fcd89d;
  padding: 15px 30px;
  border-radius: 30px;
}
main section.top-promotion article.top-promotion-img a.shop-now:hover {
  background-color: #153351;
  color: #fff;
}

section.top-info {
  padding: 1rem 0;
}
/* centramos texto debajo de la foto princ */
section.top-info p.top-info-p {
  text-align: center;
  padding: 10px 0;
}
/* margen entre articles */
div.main-section section.home-categories article {
  margin-bottom: 1rem;
  width: 100%;
}
div.main-section section.home-categories article a p {
  margin-left: 5%;
}
div.main-section section.home-categories article a p:first-of-type {
  padding-top: 0.5rem;
}
div.main-section section.home-categories article a p:last-child {
  padding-bottom: 1rem;
}
/* margen tras sales */
main section.home-section-sales {
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #bbc2c454;
  border-bottom: 1px solid #bbc2c454;
}
/* título del sales */
main section.home-section-sales h2.home-sales-title {
  text-align: center;
  padding-bottom: 1rem;
}
/* contenedor flex */
main section.home-section-sales div.home-sales {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main section.home-section-sales div.home-sales article.home-sales-img h3,
main section.home-section-sales div.home-sales article.home-sales-img p {
  margin-left: 5%;
  font-size: 0.9rem;
}
main section.home-section-sales div.home-sales article.home-sales-img p {
  padding-top: 0.5rem;
}
main section.home-section-sales div.home-sales article.home-sales-img p span {
  float: right;
  margin-right: 0.5rem;
  color: #25ca25;
}
/* dos en una línea */
main section.home-section-sales div.home-sales article.home-sales-img {
  width: 48%;
  transition: all 0.5s;
  max-height: 450px;
  min-height: 280px;
  margin-bottom: 1rem;
}

article.home-sales-img .sales-product-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0;
}
article.home-sales-img .sales-product-container .sales-img-container {
  height: 72%;
}
article.home-sales-img .sales-product-container .sales-img-container img {
  height: 100%;
}
article.home-sales-img .sales-product-container .sales-info-container {
  height: 28%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

main section.home-section-sales div.home-sales article.home-sales-img:hover {
  box-shadow: 0 0 11px #4abbc7;
}
/* main section.home-section-sales div.home-sales article.home-sales-img3,
main section.home-section-sales div.home-sales article.home-sales-img4 {
  display: none;
} */
/* para que las img no achiquen demasiado */
main section.home-section-sales article.home-sales-img img {
  width: 100%;
  min-height: 180px;
  object-fit: contain;
}

/* botón sales */
section.home-section-sales div.sales-button {
  text-align: center;
  padding-top: 1.5rem;
}

section.home-section-sales div.sales-button button {
  color: #fff;
  padding: 0.8rem 4rem;
  cursor: pointer;
  background-color: #6db8ff;
  border-radius: 1px;
  border: 1px solid #fff;
  font-size: 16px;
  transition: background-color 450ms, color 450ms;
}
section.home-section-sales div.sales-button button:hover {
  color: #000;
  background-color: #75e2dc;
}

/*section.home-section-sales div.sales-button button {
  padding: 0.3rem 5rem;
  cursor: pointer;
  background-color: #fcd89d;
  border-radius: 5px;
}*/

/*  */
/* bottom info */
section.bottom-info {
  padding: 2rem 0;
}
section.bottom-info p.bottom-info-p {
  text-align: center;
  padding: 10px 0;
}

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* --------------------------------------------  SHOP -------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

section.shop-category {
  position: relative;
}
section.shop-category h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  left: 5%;
  font-size: 1.5rem;
  color: #fff;
  font-family: "Heebo", sans-serif;
  letter-spacing: 0.08rem;
}
section.shop-category article.shop-category-picture {
  width: 100%;
}
section.shop-category article.shop-category-picture div.top-promotion-top {
  display: flex;
}
section.shop-category article.shop-category-picture img {
  width: 100%;
}
section.shop-category article.shop-filter {
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
}
section.shop-category article.shop-filter button {
  min-width: 80px;
  max-width: 155px;
  flex-grow: 1;
  margin-right: 8px;
}
section.shop-category article.shop-filter div.shop-filter-select {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
section.shop-category article.shop-category-picture img {
  max-height: 480px;
  min-height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 0%;
}

section.shop-view {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 5%;
}
section.shop-view article.shop-view-img {
  width: 50%;
  padding: 0.5rem 1rem;
  max-height: 400px;
  min-height: 300px;
  margin: 1rem 0;
}
article.shop-view-img div.shop-product-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
article.shop-view-img div.shop-product-container div.shop-img-container {
  height: 75%;
}
/* la cajita con precio y nombre de producto la mandamos abajo para que se vean todas alineadas */
article.shop-view-img div.shop-product-container div.shop-product-info {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 0.8rem;
}
section.shop-view article.shop-view-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  min-height: 180px;
}
section.shop-view article.shop-view-img div.shop-product-info div {
  padding: 5px 5%;
}
section.shop-view article.shop-view-img div.shop-product-info div span {
  color: #25ca25;
  float: left;
}
section.shop-view
  article.shop-view-img
  div.shop-product-info
  div.shop-article-title {
  padding-top: 5px;
}
section.shop-view article.shop-view-img div.shop-article-title {
  border-bottom: 1px solid #bbc2c4;
  padding-bottom: 0;
}
section.shop-view article.shop-view-img div.shop-article-price {
  border-top: 1px solid #bbc2c4;
  text-align: right;
}

section.shop-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

section.shop-more a.shop-more-button {
  width: 200px;
  max-width: 250px;
  text-align: center;
  background-color: #4abbc7;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

/* PAGINACIÓN */
section.shop-pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
}
section.shop-pagination form {
  width: 30px;
  text-align: center;
}
section.shop-pagination form button {
  cursor: pointer;
  background: none;
  border: none;
  color: #153351;
}
section.shop-pagination form button:hover {
  color: #4abbc7;
}

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------  Cart ------------------------------------------ */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

main.main-cart {
  padding: 5%;
}
section.cart-shopping article.cart-product-description {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid #bbc2c4;
  border-bottom: 1px solid #bbc2c4;
  /* align-items: center; */
}
section.cart-shopping
  article.cart-product-description
  div.cart-product-img-container {
  width: 30%;
  max-width: 220px;
}
section.cart-shopping
  article.cart-product-description
  div.cart-product-img-container
  img {
  width: 100%;
  object-fit: contain;
}

section.cart-shopping
  article.cart-product-description
  div.cart-product-container {
  width: 60%;
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
section.cart-shopping
  article.cart-product-description
  div.cart-product-container
  div.cart-product-top {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
}
section.cart-shopping
  article.cart-product-description
  div.cart-product-container
  div.cart-product-bottom {
  margin-bottom: 1rem;
}
section.cart-shopping
  article.cart-product-description
  div.cart-product-container
  div.cart-product-bottom
  input {
  width: 100px;
}

section.cart-shopping article.cart-product-description div.cart-trash {
  width: 10%;
  text-align: center;
  margin-top: 1rem;
}
section.cart-shopping article.cart-product-description div.cart-trash i {
  font-size: 1.3rem;
  cursor: pointer;
}

article.cart-delivery-container {
  margin-bottom: 1rem;
}
article.cart-delivery-container div.cart-delivery-pre {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
article.cart-delivery-container div.cart-delivery-pre h4:last-child {
  width: 35%;
}
article.cart-delivery-container div.cart-delivery-price label {
  display: block;
  padding-bottom: 3px;
}
article.cart-delivery-container div.cart-delivery-price select {
  width: 50%;
  margin-right: 5px;
  padding: 1px;
}
article.cart-delivery-container div.cart-delivery-price button {
  padding: 2px 10px;
  background-color: #bbc2c4;
  border-radius: 5px;
  cursor: pointer;
}

article.cart-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

article.cart-buttons {
  width: 90%;
  margin: 2rem auto 0;
}
article.cart-buttons button {
  display: block;
  width: 100%;
  max-width: 450px;
  margin: 5px auto;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}
article.cart-buttons button:first-child {
  background-color: #4abbc7;
}

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ---------------------------------------------- LogIn ------------------------------------------ */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

.top-section-login {
  background-image: url("/images/panoramic/login4.jpg");
  height: 520px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.content-login {
  padding: 1.5em;
}
.content-register {
  padding: 0.5rem 1.5rem 1.5rem;
}

.content .logo {
  text-align: center;
  font-size: 1.5em;
}

.contact-wrapper > * {
  padding: 0.3em;
  margin: 1em 0;
}

.contact-form {
  width: 100%;
  margin: 10px auto;
  max-width: 500px;
}

.contact-form form {
  box-shadow: 1px 1px 7px 1px rgb(0 0 0 / 30%);
  background-color: #fff;
  opacity: 0.9;
}

.contact-form form p {
  margin: 0;
  padding: 0.5em;
}

.contact-form form p.centrado {
  text-align: center;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.5em;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #4abbc7;
  color: #000;
}
.contact-form form textarea {
  min-width: 100%;
  max-width: 100%;
}
.img-edit-product-container input {
  width: 2rem !important;
}

div.checkbox-container {
  padding: 0 1.5rem;
}
div.checkbox-row {
  width: 45%;
  display: inline-block;
  padding: 0.2rem 0 0.2rem 2rem;
}
div.checkbox-row input {
  width: auto;
}

.contact-form form div.block {
  padding: 5px 10px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.contact-form form div.block input {
  width: unset;
}

.contact-form form button {
  background: #bbc2c4;
  color: #000;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  border-radius: 5px;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #afafaf;
  color: #fff;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
  outline: none;
  /* line-height: 1; */
}
.contact-form .infovalidacion {
  font-size: 13px;
  color: #bf1725;
  padding-left: 3px;
  display: inline-block;
}

.contact-form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.login-form,
.signup-form {
  width: 100%;
}
.signup-form {
  margin-top: 2rem;
}

.signup-form p {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
.signup-form p button {
  width: 100%;
}

.signup-form button {
  background: #bbc2c4;
  color: #000;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  border-radius: 5px;
}

.signup-form button:hover,
.signup-form button:focus {
  background: #afafaf;
  color: #fff;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
  outline: none;
}

/* VALIDACION */
.contact-form form button.is-invalid,
.contact-form form input.is-invalid,
.contact-form form textarea.is-invalid {
  border-bottom: none;
  border: 1px solid #bf1725;
  border-radius: 4px;
}

/*----------- EDIT PRODUCT FORM ---------------*/

/* colocamos imágenes en container */
.img-edit-product-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  align-items: center;
  padding-bottom: 0;
}

.img-edit-product-box {
  max-width: 70px;
  margin-right: 0.5rem;
}
.img-edit-product {
  width: 100%;
}
/* añadí un botón borrar en el form edit */
.delete-form {
  padding: 1rem;
  box-shadow: none !important;
  margin-top: 1rem;
}

button.button-delete {
  background-color: #ee3939 !important;
  width: 80% !important;
  text-align: center !important;
  margin: 0 auto !important;
  display: block !important;
  margin: 0 auto !important;
}

section.personal-data,
section.address {
  padding-bottom: 1rem;
}
section.personal-data h3,
section.address h3 {
  padding: 1rem 1.5rem;
  border: 1.3px solid #6d7b0b;
}
section.personal-data fieldset,
section.address fieldset {
  border: none;
}
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------  Detalle de Producto --------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

.small-container {
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 20px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-product {
  margin-top: 20px;
  margin-bottom: 20px;
}

.small-img-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 15%;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

/* que las img pequeñas tengan una altura mínima */
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
  min-height: 50px;
  display: flex;
  align-items: center;
}

.single-product .col-2 img {
  padding: 4%;
}

.single-product .col-2 {
  padding: 20px;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

/* para manipular la sección de la foto grande en detail */
.col-2-left {
  display: flex;
  /*flex-direction: column;*/
  flex-direction: row-reverse;
}
/* le damos altura mínima y lo centramos con flex */
.main-picture {
  width: 100%;
  min-height: 250px;
  display: flex;
  align-items: center;
}

.col-2 h1 {
  font-size: 28px;
  line-height: 32px;
  margin: 25px 0;
}

.col-2 p.discount,
.col-2 h4.discount-price {
  display: inline-block;
}
.col-2 h4.discount-price {
  padding-right: 1rem;
}
.col-2 p.discount {
  color: #25ca25;
}

.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #153351;
}

.single-product a {
  text-decoration: none;
  color: #555;
}

.single-product .fa {
  color: #4abbc7;
  margin-left: 10px;
}

.single-product p {
  color: #555;
}

.btn {
  display: inline-block;
  background: #fcd89d;
  color: #fff;
  padding: 10px 25px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #4abbc7;
}

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* --------------------------------------------  INFO -------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

main.main-info {
  padding: 2rem 5%;
}
main.main-info section.info-view {
  margin: 1rem 0;
}
.info-view article.info-text {
  margin-bottom: 3rem;
}
.info-view article.info-text:last-child {
  margin-bottom: 1rem;
}
.info-view article.info-text h2 {
  margin-bottom: 1rem;
  color: #153351;
  font-size: 1.8rem;
}
.info-view article.info-text p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 0.05rem;
}

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ------------------------------------- MEDIA - QUERIES ----------------------------------------- */
/* ------------------------------------------- 415 ----------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

/* Para tablets */

/* para pantallas mayores que iPhone 8 Plus */
@media (min-width: 415px) {
  /* ------------------------- INDEX --------------------*/

  /* MAIN-INDEX */
  main.main-index {
    padding: 0;
  }

  main section.top-promotion article.top-promotion-img div.main-offer {
    display: flex;
  }
  main section.top-promotion article.top-promotion-img div.main-offer a {
    font-size: 1.05rem;
  }

  main section.top-promotion article.top-promotion-img a.shop-now {
    display: block;
  }

  div.main-section section.home-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  div.main-section section.home-categories article.home-categories-img {
    width: 48%;
  }
  div.main-section section.home-categories article.home-categories-img3 {
    width: 100%;
  }
  /* sales */
  main section.home-section-sales div.home-sales article.home-sales-img {
    width: 30%;
  }
  /* main section.home-section-sales div.home-sales article.home-sales-img3 {
    display: block;
  } */

  /* ------------------------- SHOP --------------------*/

  section.shop-view article.shop-view-img {
    width: 33%;
  }
  section.shop-category h1 {
    font-size: 2rem;
  }

  /* ------------------------- LOGIN --------------------*/

  .content-login {
    padding: 2.2rem;
  }
  .content-register {
    padding: 1.5rem 2.2rem 2rem;
  }
}

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ------------------------------------- MEDIA - QUERIES ----------------------------------------- */
/* ------------------------------------------- 769 ----------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

/* Para tablets y mayores */
@media (min-width: 769px) {
  /* ------------------------- INDEX --------------------*/

  /* MAIN */
  section.top-info {
    padding: 2rem 0;
  }
  main section.top-promotion article.top-promotion-img div.main-offer a {
    font-size: 1.2rem;
  }
  div.main-section section.home-categories article.home-categories-img {
    width: 48%;
  }
  div.main-section section.home-categories article.home-categories-img4 {
    order: -1;
  }
  div.main-section section.home-categories article.home-categories-img5 {
    order: 3;
  }
  div.main-section section.home-categories article.home-categories-img1 {
    order: 1;
  }
  div.main-section section.home-categories article.home-categories-img3 {
    order: 2;
  }

  div.main-section section.home-categories article.home-categories-img3,
  div.main-section section.home-categories article.home-categories-img1,
  div.main-section section.home-categories article.home-categories-img5 {
    width: 30%;
  }

  /* sales */
  main section.home-section-sales div.home-sales article.home-sales-img {
    width: 23%;
  }
  main section.home-section-sales div.home-sales article.home-sales-img h3,
  main section.home-section-sales div.home-sales article.home-sales-img p {
    font-size: initial;
  }
  /* main section.home-section-sales div.home-sales article.home-sales-img4 {
    display: block;
  } */

  /* ------------------------- SHOP --------------------*/

  section.shop-view article.shop-view-img {
    width: 25%;
  }
  section.shop-category h1 {
    font-size: 2.8rem;
  }
  article.shop-view-img div.shop-product-container div.shop-product-info {
    font-size: 1rem;
  }

  /* ------------------------- CART --------------------*/

  section.cart-shopping
    article.cart-product-description
    div.cart-product-container
    div.cart-product-top
    div
    h4 {
    font-size: 1.5rem;
  }
  section.cart-shopping
    article.cart-product-description
    div.cart-product-container
    div.cart-product-top
    div
    p {
    font-size: 1.3rem;
  }
  section.cart-shopping
    article.cart-product-description
    div.cart-product-container
    div.cart-product-bottom
    input {
    width: 150px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #153351;
  }
  article.cart-delivery-container,
  article.cart-delivery-container div.cart-delivery-price select,
  article.cart-delivery-container div.cart-delivery-price button,
  article.cart-price,
  article.cart-buttons button {
    font-size: 1.3rem;
  }

  /* ------------------------- LOGIN --------------------*/

  .content-login {
    padding: 3rem;
  }
  .content-register {
    padding: 1.5rem 3rem 2rem;
  }

  .login-form,
  .signup-form {
    width: 50%;
    padding: 0 2rem;
  }
  .signup-form {
    margin-top: 0;
    align-self: flex-start;
  }
}

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ------------------------------------- MEDIA - QUERIES ----------------------------------------- */
/* ------------------------------------------- 1050 ---------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

/* Para desktop */
@media (min-width: 1050px) {
  /* ------------------------- LOGIN --------------------*/

  .contact-wrapper > * {
    padding: 1em;
  }

  .contact-form {
    width: 500px;
    margin: 20px auto;
    min-width: inherit;
  }

  .contact-form form p {
    margin: 0;
    padding: 1em;
  }

  .contact-form form div.block {
    width: 100%;
  }

  .signup-form {
    margin-top: 5rem;
  }
}
